<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

    <title><%= @title %></title>

    <meta name="generator" content="kramdown <%= @generator %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= @metaTags %>

    <link rel="preconnect" href="https://brick.freetls.fastly.net">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="theme-color" content="#EBF9FE"/>

    <script src="/versions/4/asset/download-file-widget.js" defer></script>
    <script src="/versions/4/asset/heading-select.js" defer></script>
    <script src="/versions/4/asset/share-button.js" defer></script>

    <%= @railroadStyle %>

    <%= @fontsStyle %>

    <link rel="stylesheet" href="/versions/4/asset/style.css">

    <%= @analyticsScript %>
</head>
<body>
    <header>
        <h1 class="logo"><img src="/img/logo-256.png" alt="logo" id="logoimg"><a href="/"
                id="logo-header">NHS Docs</a></h1>
                <form id="search" action="/search" method="GET">
                    <label>
                        <input type="search" name="q" aria-label="Search Term" placeholder="Search">
                        <button type="submit" aria-label="Search">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#eee" d="M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z"/></svg>
                        </button>
                    </label>
                </form>

    </header>
    <main>
        <%= @breadcrumbs %>
        <p><i><%= @credits %></i></p>
        <%= @body %>
        
    </main>
    <footer>
        <img aria-hidden="true" alt="" class="footer-splash" src="/versions/4/asset/footer-splash.svg">
        <div id="footer-body">
            <div style="margin-right:1em;">
                <h2>Doc Versioning</h2>
                <ul>
                    <li><a href="/versions">Version List</a></li>
                    <li><a rel="noreferrer" href="https://github.com/coleh2/discord-doc-site/network">Change Chart</a></li>
                    <li><a href="/about-semver">Version Number Style</a></li>
                    <li><a href="/about-site">About</a></li>
                </ul>
            </div>
            <div>
                <h2>Plumbing</h2>
                <ul>
                    <li><a rel="noreferrer" href="https://github.com/coleh2/discord-doc-site" target="_blank">View Source on GitHub</a>
                    </li>
                    <li><a href="/join">Join Discord</a></li>
                    <li><a rel="noreferrer" href="https://github.com/coleh2/discord-doc-site/issues" target="_blank">Report Issues</a>
                    </li>
                    <li><a rel="noreferrer" href="https://github.com/coleh2/discord-doc-site/blob/master/contributing.md"
                            target="_blank">Contribute Documentation</a></li>
                </ul>
            </div>
        </div>
        <img aria-hidden="true" alt="" class="footer-splash" src="/versions/4/asset/footer-splash.svg">
    </footer>
</body>

</html>